form {
  display: flex;
  flex-direction: column;
  margin-inline: 5.5rem;
  margin-top: 2.5rem;

  align-items: center;

  pointer-events: all;
}

.containerButton {
  display: flex;
  margin-top: 1.5rem;
}

.buttonCancel,
.buttonCreate {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 9.375rem;
  height: 3.125rem;

  padding: 1rem;

  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  border-radius: 1.875rem;

  cursor: pointer;
}

.buttonCancel:active {
  background-color: aliceblue;
}

.buttonCreate:active {
  background-color: var(--gray-color);
}

.buttonCancel {
  background-color: var(--white-color);
  border: 2px solid var(--black-color);
  color: var(--black-color);
}

.buttonCreate {
  background-color: var(--black-color);
  border: none;
  color: var(--white-color);

  margin-left: 1.5rem;
}
